/* 
Max Jankowksi 
Bellevue University 
CSD340 Assignment 2.2	
*/




/* setting the base font size */
html, body {
    font-size: 16px;
}

/* Paragraph style as per instructions */
p {
    font-weight: 400;
    line-height: 1.4em;
}

/* header weight as per instruction */
h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-weight: 500;
    text-align: left;
    padding-top: 15px;
}

/* Address style */
address {
    text-align: center;
}

/* Link style */
address a {
    font-weight: bold;
    font-size: 1.25em;
    color: #4F3674;
    text-decoration: none;
}

/* Link state */
address a:hover {
    text-decoration: underline;
    background-color: #D6A800;
}

/* visited state */
address a:visited {
    color: #8B4789;
}

/* italic styling */
.sentence {
    font-style: italic;
}

/* class intro - text indentation for first paragraph */
.intro {
    text-indent: 2em;
}